input[type=submit] {
    background-color: $main-color;
    color: $accent;
    text-transform: uppercase;
    border: $border;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: bold;
    transition: all .4s;

}

input[type=submit]:hover,
input[type=submit]:focus {
    padding: 12px 30px;
    background-color: $accent;
    color: $main-color;
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
}

input[type=submit]:hover {
        // cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
}