input[type=submit] {
    background-color: $main-color;
    color: $accent;
    text-transform: uppercase;
    border: $border;
    padding: 12px 25px;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: bold;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: $accent;
    color: $main-color;
    // cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
    // cursor: url(../assets/rock-hand-cursor.jpg), auto;
}