.question {
    height: 100vh;
    display: flex;
    justify-content: center;
    h2 {
        margin: 5% 0;
        text-align: center;
    }
    span {
        color:$accent;
        font-weight: bold;
    }
    form {
        max-width: 80%;
    }
}

fieldset {
    border: $border;
    background-color: $main-color;
    margin-top: 10%;
    padding: 40px;
    box-shadow: $pic-shadow;
    border-radius: 15px;
    text-align: center;
    p:first-child {
        padding-bottom: 5%;
    }
    .answer-options {
        display: flex;
        flex-direction: column;
    }
    .alert,
    .alert2 {
        color: $accent;
        font-weight: bold;
        padding: 10px 0;
    }
    input[type=submit] {
    margin-top: 5%;
    }
}

label {
    text-transform: uppercase;
    padding: 3px 0;
}

/* radio button styling modeled using info found here:
https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.answer {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    label {
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #999;
        border-radius: 50%;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.answer:hover input ~ .checkmark,
.answer:focus input ~ .checkmark {
    background-color: #555;
}

.answer input:checked ~ .checkmark {
    background-color: $accent;
}

.answer input:checked ~ label {
    color: $accent;
}

.answer input:checked ~ .checkmark:after {
    display: block;
}

.answer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $main-color;
}
