footer {
    height: 100vh;
    text-align: center;
    p:first-child {
        padding-top: 20px;
    }
    h2 {
        margin: 20px 0;
    }
    .footer-bottom {
        margin-top: 10px;
    }
}

.results {
    display: flex;
    .results-pic {
        width: 50%;
    }
    .results-info {
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            width: 82.5%;
            padding: 30px;
            border: $border;
            background-color: whitesmoke;
            border-radius: 15px;
        }
    }
}

.final-pick-image {
    width: 72.5%;
    margin-left: 17.5%;
        img {
            border-radius: 15px;
        }
}