footer {
    height: 100vh;
    text-align: center;
    h2 {
        margin: 1% 2.5% 1.5%;
        max-width: 95%;
    }
    .results-title p {
        padding-top: 1%;
        color: $main-color;
    }
}

.results {
    display: flex;
    .results-pic {
        width: 50%;
    }
    .results-info {
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .results-info-text {
            width: 82.5%;
            padding: 30px;
            border: $border;
            background-color: $main-color;
            border-radius: 15px;
            box-shadow: $pic-shadow;
        }
    }
}

.results-info-text p:first-child {
    margin-bottom: 5%;
}

.results-info-text a {
    color: $accent;
}

.results-info-text a:hover,
.results-info-text a:focus {
    border-bottom: 3px solid $accent;
}

.final-pick-image {
    width: 70%;
    margin-left: 20%;
    box-shadow: $pic-shadow;
    border-radius: 15px;
        img {
            border-radius: 15px;
            border: $border;
        }
}

.footer-bottom {
    margin-top: 3%;
    p {
        color: $main-color;
        max-width: 95%;
        margin: 0 2.5% 1.25%;
    }
    a {
        color: $accent;
    }
    a:hover,
    a:focus {
        border-bottom: 3px solid $accent;
    }
}