article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  font-family: "serif"; }

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
img {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  background: rgba(20, 20, 20, 0.95); }

h1,
h2 {
  font-family: "Metal Mania";
  color: whitesmoke;
  text-shadow: 1px 1px black, 3px 3px #DD0000; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

p,
label {
  font-family: "Roboto", "sans-serif"; }

.question {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .question h2 {
    margin: 5% 0;
    text-align: center; }
  .question span {
    color: #DD0000;
    font-weight: bold; }
  .question form {
    max-width: 80%; }

fieldset {
  border: 3px solid black;
  background-color: whitesmoke;
  padding: 40px;
  -webkit-box-shadow: 10px 10px #DD0000;
  box-shadow: 10px 10px #DD0000;
  border-radius: 15px;
  text-align: center; }
  fieldset p:first-child {
    padding-bottom: 5%; }
  fieldset .answer-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    fieldset .answer-options .answer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  fieldset .alert,
  fieldset .alert2 {
    color: #DD0000;
    font-weight: bold;
    padding: 10px 0; }
  fieldset input[type=submit] {
    margin-top: 5%; }

input[type=radio]:focus {
  border: 3px solid black; }

label {
  text-transform: uppercase;
  padding: 3px 0; }

.answer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer; }
  .answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .answer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%; }

.answer:hover input ~ .checkmark,
.answer:focus input ~ .checkmark {
  background-color: #555; }

.answer input:checked ~ .checkmark {
  background-color: #DD0000; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.answer input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.answer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: whitesmoke; }

input[type=submit] {
  background-color: whitesmoke;
  color: #DD0000;
  text-transform: uppercase;
  border: 3px solid black;
  padding: 12px 25px;
  border-radius: 10px;
  font-family: "Roboto";
  font-weight: bold; }

input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #DD0000;
  color: whitesmoke; }

footer {
  height: 100vh;
  text-align: center; }
  footer h2 {
    margin: 1% 0 1.5%; }
  footer .results-title p {
    padding-top: 1%;
    color: whitesmoke; }

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .results .results-pic {
    width: 50%; }
  .results .results-info {
    width: 50%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .results .results-info p {
      width: 82.5%;
      padding: 30px;
      border: 3px solid black;
      background-color: whitesmoke;
      border-radius: 15px;
      -webkit-box-shadow: 10px 10px #DD0000;
      box-shadow: 10px 10px #DD0000; }

.final-pick-image {
  width: 70%;
  margin-left: 20%;
  -webkit-box-shadow: 10px 10px #DD0000;
  box-shadow: 10px 10px #DD0000;
  border-radius: 15px; }
  .final-pick-image img {
    border-radius: 15px;
    border: 3px solid black; }

.footer-bottom {
  margin-top: 3%; }
  .footer-bottom p {
    color: whitesmoke;
    margin-bottom: 1%; }
  .footer-bottom a {
    color: #DD0000; }
  .footer-bottom a:hover,
  .footer-bottom a:focus {
    border-bottom: 3px solid #DD0000; }

@media (max-width: 1200px) {
  .wrapper {
    width: 90%; }
  h1 {
    font-size: 2.5rem; }
  header .header-pic {
    width: 80%; } }

@media (max-width: 760px) {
  h2 {
    font-size: 2rem; }
  .results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .results .results-pic,
    .results .results-info {
      width: 90%; }
    .results .results-info {
      margin: 30px 0 0 0; }
      .results .results-info p {
        width: 100%; }
  .final-pick-image {
    margin: 0;
    width: 100%; }
  .footer-bottom input[type=submit] {
    margin-bottom: 5%; } }

.disappear {
  display: none; }

body {
  background: url(../assets/music-notes.png); }

header {
  height: 100vh;
  text-align: center; }
  header p {
    color: whitesmoke;
    padding-top: 1%; }
  header i {
    color: #DD0000; }
  header .header-pic {
    width: 47.5%;
    margin: 1% auto 2.5%;
    -webkit-box-shadow: 10px 10px #DD0000;
    box-shadow: 10px 10px #DD0000;
    border-radius: 15px; }
    header .header-pic img {
      border-radius: 15px;
      border: 3px solid black; }
