@import "partials/setup";
@import "partials/questions";
@import "partials/_resultsPage";

.headerPic {
    width: 50%;
    margin: 0 auto;
}

header .landing {
    height: 100vh;
}

.disappear {
    display: none;
}